@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/*font-family: 'Josefin Sans', sans-serif;*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #D8E3F6;
}
#container{
	width: 65%;
	height: 103vh;
	background: url('images/login.png') no-repeat;
	background-attachment: fixed;
	background-size: 65% 103vh;
	float: left;
	position: relative;
}
#container>span{
	position: absolute;
  	bottom: 0;
  	right: 0;
  	width: 100%;
  	height: 20vh;
  	text-align: center;
  	text-transform: uppercase;
  	padding: 7vh;
  	background-color: #000;
  	color: #fff;
  	opacity: .6;
  	font-size: 3.7vh;
  	font-weight: bold;
}
#login{
	width: 35%;
	height: 100vh;
	float: left;
	position: relative;
}
#login>div>div{
	margin-top: 80px;
	margin-left: 30px;
	font-size: 4vh;
	font-weight: bold;
}
#avatar{
	vertical-align: middle;
}
input[type=text], input[type=password] {
  width: 40vh;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 1.8vh;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;
  font-size: 2vh;
  padding: 14px 20px;
  margin: 8px 5%;
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.container label{
	font-size: 3vh;
	text-align: center;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
img.avatar {
  width: 20%;
  border-radius: 50%;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}

@media (min-width: 1200px) {
  
}
@media (min-width: 992px) and (max-width: 1199px) {
  	#container{
		width: 50%;
		height: 103vh;
		background: url('images/login.png') no-repeat;
		background-attachment: fixed;
		background-size: 45% 100vh;
		float: left;
		position: relative;
	 }
	 #container span{
	  	font-size: 2.5vh;
	  	padding-top: 6vh;
	  	padding-bottom: 0;
	  	/*background-color: transparent;*/
	 }
	 #login{
	  	width: 50%;
	  	/*float: none;*/
	  	height: 50vh;
	 }
}

/*@media (min-width: 768px) and (max-width: 991px) {

}*/
@media (min-width: 768px) and (max-width: 991px) {
	#container{
		width: 45%;
		height: 100vh;
		background: url('images/login.png') no-repeat;
		background-attachment: fixed;
		background-size: 45% 100vh;
		float: left;
		position: relative;
	 }
	 #container span{
	  	font-size: 2.5vh;
	  	padding-top: 7vh;
	  	padding-bottom: 0;
	  	/*background-color: transparent;*/
	 }
	 #login{
	  	width: 45%;
	  	/*float: none;*/
	  	height: 50vh;
	 }
}
@media (min-width: 601px) and (max-width: 767px) {
	#container{
		height: 25vh;
	  	width: 100%;
	  	float: none;
	  	background-size: 100% 25vh;
	 }
	 #container span{
	  	height: 3vh; 
	  	font-size: 1.8vh;
	  	padding-top: 1vh;
	  	padding-bottom: 0;
	  	/*background-color: transparent;*/
	 }
	 #login{
	  	width: 100%;
	  	float: none;
	  	height: 50vh;
	 }
}
@media (max-width: 600px){
	#container{
		height: 25vh;
	  	width: 100%;
	  	float: none;
	  	background-size: 100% 25vh;
	 }
	 #container span{
	 	/*position: absolute;
  	bottom: 0;
  	right: 0;
  	width: 100%;
  	height: 20vh;
  	text-align: center;
  	text-transform: uppercase;
  	padding: 7vh;
  	background-color: #000;
  	color: #fff;
  	opacity: .6;
  	font-size: 3.7vh;
  	font-weight: bold;*/
  		height: 3vh; 
	  	font-size: 1.8vh;
	  	padding-top: 1vh;
	  	padding-bottom: 0;
	  	/*background-color: transparent;*/
	 }
	 #login{
	  	width: 100%;
	  	float: none;
	  	height: 50vh;
	 }
}

nav.navbar {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}	
#count{
	border-radius: 50%;
	position: relative;
	top: -10px;
	left: -10px;
}

#center{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

#teb{
	margin-top: 15%;
}

.icon{
	margin-right: 15px;
}

#side{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;	
}
.wrapper{
	display: flex;
	position: relative;
}
.wrapper .sidebar{
	position: fixed;
	width: 200px;
	height: 100%;
	background-color: #fff;
	padding: 30px 0;
}
.wrapper .sidebar h3{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}
.wrapper .sidebar ul li{
	padding: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(225,225,225,0.05);
}
.wrapper .sidebar ul li a{
	/*color: #bdb8d7;*/
	display: block;
	text-decoration: none;
}
.wrapper .sidebar ul li a .fas,.wrapper .sidebar ul li a .fa{
	width: 25px;
}
.wrapper .sidebar ul li:hover{
	background: #007bff;
}
.wrapper .sidebar ul li a:hover{
	color: #fff;
}
.wrapper .sidebar ul li.active{
	background-color: #007bff;
}
.wrapper .sidebar ul li.active a{
	color: #fff;
}
.wrapper .main_content{
	width: 100%;
	margin-left: 200px;
}
.wrapper .main_content .header{
	padding: 10px;
	background:#fff;
	color: #717171;
	border-bottom: 1px solid #e0e4e8;

}
.wrapper .main_content .header .fas{
	width: 25px;
	margin-left: 10px;
	margin-right: 5px;
}

.navbar-light .navbar-brand {
	margin-left: 75px;
}
#margin-content ul li {
	margin: 20px;
	font-weight: bold;
}
#margin-content ul li .blue{
	color: #007bff;
}

