.course-tile{
	position: relative;
	border: 2px solid #000;
	overflow: hidden;
	width: 300px;
	height: 300px;
	margin: 40px auto 15px;
}
.course-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
.course-title:hover{
	box-shadow: 0 1px 5px 1px #000;
}
section.row button{
	margin-left: 19vh;
}